SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO={{ pillar.admin_user }}@{{ pillar.base_mail_domain }}

# m h dom mon dow user  command
17 *  * * * root    cd / && run-parts --report /etc/cron.hourly
25 6  * * * root  test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6  * * 7 root  test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6  1 * * root  test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

# stahovani rss
15,45 * * * * www-data [ -f /home/www/ttrss/update.php ] && /usr/bin/php -c /etc/php5/fpm/php.ini /home/www/ttrss/update.php --feeds --quiet

# awstats
30 3 * * * root [ -x /usr/local/bin/wwwstats.sh ] && nice -19 ionice -c 3 /usr/local/bin/wwwstats.sh

# php sessions
30 4 * * * root [ -x /usr/local/bin/phpsessionsclean.sh ] && /usr/local/bin/phpsessionsclean.sh

# composer update
34 5 * * Wed root [ -x /usr/local/bin/composer ] && /usr/local/bin/composer --quiet self-update
